<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
    <body>
        <%- include('header.ejs') -%>
            <main class="post">
                <h1>
                    <%= product.title %>
                </h1>
                <p>
                    <%= product.description %>
                </p>
                <div class="imgs">
                    <% product.image.forEach((image)=> { -%>
                        <img src="/uploads/<%= image %>" alt="Зображення" />
                        <% }); -%>
                </div>
            </main>
            <%- include('footer.ejs') -%>
    </body>
</html>